.b2BSection {
    font-family: Helvetica Neue;
    color: #509A23;  
    font-size: 21px;
    font-weight: 1200px;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.b2BField {
    color:grey; 
    font-size: 16px;
    font-family : Helvetica Neue;
   
}

.b2BValue {
    font-size: 15px;
    font-family: Helvetica Neue;
  
}