.containerBGColor {
    background-color: rgb(93, 150, 224);
}
.boxBGColor {
    background-color: rgb(255, 255, 255);
}           
.validationboxBGColor {
    background-color: rgb(221, 221, 221);
}           
.selectionBoxFooter {
   position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(235, 235, 235);
    text-align: center;
}

.summaryCampaign {
    font-weight: bold;
    font-size: 20px;
}

.slds-list_dotted {
    font-size: 15px;
 }

 .slds-box {
    border: none;
 }
 
.confirmModalbody {
    height : 40vh !important; 
    display: flex;
    justify-content: center;
  /*  flex: 0 0 120px; */
}