.cardProduct {
    text-align:center;
    max-width:470px;
    margin:0 auto;
    border: 1px solid #EBEBEB;
}

.productName {
    font-size: 22px;
    font-family: 'HelveticaNeueBold02';
}

.productPrice {
    margin: 7px 0 7px 0;
    font-family: 'HelveticaNeueBold02';
    color: #CE394C;
    font-size: 28px;
}

.similarProductContainer {
    display:flex;
    flex-direction:row;}


.similarProductImage-container {
    width: 90%;
    height: auto;
    max-width:200px;
    overflow:hidden;
    display: flex;
    align-items: center;
    margin:0 auto;
}

.similarProductImage-container img {
    width:85%;
}

.similarProductInfo-container {
        width:100%;
        text-align:right;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

.similarProductInfo-container .productName {
    text-align:left;
}


    /* Tablet screens */
@media only screen and (max-width: 64em) {
    
}

/* Phone screens */
@media only screen and (max-width: 47.9375em) {

  .similarProductContainer {
    display:flex;
    flex-direction:column;
    }

   

.productName {
    font-size: 19px;
    font-family: 'HelveticaNeueBold02';
}

    
.productPrice {
    font-size: 22px;
}

}