lightning-layout{
    display: flex;
    justify-content: space-around;
}

.cardChoice{
    text-align:center;
    white-space: normal;
}

a:hover{
    text-decoration: none;
    cursor:pointer;
}

.containerImage{
    width: 100%;
    height: 150px;
}

.containerImage img {
    width:100%;
    height:100%;
    opacity:0.7;
}

.containerImage img:hover {
    transition-delay: 0.1s;
    opacity:1;
}

.no-wrap{
    white-space: normal;
}

.slds-modal__container{
    width: 100%;
    max-width:80%;
}

.cardProduct{
    text-align:center;
}

.productName{
    font-weight: bold; 
    font-size: 18px;
}

.productPrice{
    font-size: 16px;
    margin: 7px 0 7px 0;
}

.containerImageSubstitution{
    width: 100%;
    height: 150px;
    overflow:hidden;
    display: flex;
    align-items: center;
}

.containerImageSubstitution img {
    width:100%;
}

.stockChoice1 {
    position: absolute;
    bottom: 196px;
    right: 123px;
}

.stockChoice2 {
    position: absolute;
    bottom: 174px;
    right: 120px;
}

.stockChoice3 {
    position: absolute;
    bottom: 176px;
    right: 120px;
}

.restChoice1 {
    position: absolute;
    bottom: 124px;
    right: 32px;
}

.restChoice2 {
    position: absolute;
    bottom: 159px;
    right: 59px;
}

.restChoice3 {
    position: absolute;
    bottom: 167px;
    right: 59px;
}

p { 
    line-height: 20px;
}